<div class="m-3 row">
  <label for="typeahead-template" class="col-xs-3 col-sm-auto col-form-label">{{ 'SETTINGS.LANGUAGE' | translate
    }}</label>
  <div class="col password-container">
    <input id="typeahead-template" type="text" class="form-control col" [(ngModel)]="selectedConfig"
      [ngbTypeahead]="search" [inputFormatter]="formatter" [resultFormatter]="formatter" [selectOnExact]="true"
      (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)"
      #instance="ngbTypeahead" (selectItem)="changeLanguage($event.item)" />
    <span class="password-toggle" (click)="selectedConfig=null">
      <i class="bi bi-x" id="toggleIcon"></i>
    </span>
  </div>
  <div class="flex flex-col">
    <h3>{{ 'SETTINGS.FORMAT_EXAMPLES' | translate }}</h3>


    <table class="table table-bordered mb-3">
      <thead>
        <tr>
          <th scope="col">{{ 'SETTINGS.FIELD' | translate }}</th>
          <th scope="col">{{ 'SETTINGS.VALUE' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ 'SETTINGS.CURREN_LANGUAJE' | translate }}</td>
          <td>{{selectedLanguage}}</td>
        </tr>
        <tr>
          <td>{{ 'SETTINGS.CURRENT_LOCALE' | translate }}</td>
          <td>{{selectedLocale}}</td>
        </tr>
        <tr>
          <td>{{ 'SETTINGS.CURRENCY_FORMAT' | translate }}</td>
          <td>{{ sampleAmount | localCurrency }}</td>
        </tr>
        <tr>
          <td>{{ 'SETTINGS.DATE_FORMAT' | translate }}</td>
          <td>{{ currentDate | localDate }}</td>
        </tr>
        <tr>
          <td>{{ 'SETTINGS.TIME_FORMAT' | translate }}</td>
          <td>{{ currentDate | localDate:'shortTime' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
