<div class="modal-container">
  <div class="modal-header">
    <span>{{ 'PLAN_VENTA.CREAR_PLAN.TITLE' | translate }}</span>
    <button type="button" class="btn-close" aria-label="Close" (click)="dialogRef.close()"></button>
  </div>
  <div>
    <form
      [formGroup]="planForm"
      (ngSubmit)="crearPlan()"
      class="flex flex-col w-full gap-[0.25rem]"
    >
      <div class="w-full min-h-[3.9375rem]">
        <input
          id="typeahead-basic"
          type="text"
          class="form-control"
          id="producto selector"
          formControlName="product"
          placeholder="{{ 'PLAN_VENTA.CREAR_PLAN.FORM.PRODUCT' | translate }}"
          [ngbTypeahead]="searchProduct"
          [inputFormatter]="formatter"
          [resultFormatter]="formatter"
          [selectOnExact]="true"
          [ngClass]="{ 'is-invalid': isInvalid('product') }"
        />
        <div class="invalid-feedback">
          {{ getErrorMessage('product').key | translate }}
        </div>
      </div>

      <div>
        <div class="w-full min-h-[3.9375rem]">
          <input
            type="number"
            class="form-control"
            id="goal"
            appNumbersOnly
            formControlName="goal"
            placeholder="{{ 'PLAN_VENTA.CREAR_PLAN.FORM.GOAL' | translate }}"
            [ngClass]="{ 'is-invalid': isInvalid('goal') }"
          />
          <div class="invalid-feedback">
            {{ getErrorMessage('goal').key | translate: getErrorMessage('goal').params }}
          </div>
        </div>
      </div>

      <div class="w-full min-h-[3.9375rem]">
        <app-calendar
          formControlName="start_date"
          [ngClass]="{
            'is-invalid':
              planForm.get('start_date')?.invalid && planForm.get('start_date')?.touched,
          }"
          [errorClass]="planForm.get('start_date')?.invalid && planForm.get('start_date')?.touched"
        ></app-calendar>
        <div class="invalid-feedback">
          {{ getErrorMessage('start_date').key | translate }}
        </div>
      </div>

      <div class="w-full min-h-[3.9375rem]">
        <app-calendar
          formControlName="end_date"
          [ngClass]="{
            'is-invalid': planForm.get('end_date')?.invalid && planForm.get('end_date')?.touched,
          }"
          [errorClass]="planForm.get('end_date')?.invalid && planForm.get('end_date')?.touched"
        ></app-calendar>
        <div class="invalid-feedback">
          {{ getErrorMessage('end_date').key | translate }}
        </div>
      </div>

      <div class="w-full pr-2 overflow-auto h-[6.75rem]">
        <div class="table-container table-ccp">
          <table class="table">
            <thead>
              <tr>
                <th class="th-checkbox">
                  <!-- Checkbox para seleccionar/deseleccionar todos -->
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [checked]="isAllSelected()"
                      (change)="toggleAllRows()"
                      [indeterminate]="selectionSellers.hasValue() && !isAllSelected()"
                      id="selectAllCheckbox"
                    />
                    <label class="form-check-label" for="selectAllCheckbox"></label>
                  </div>
                </th>
                <th>{{ 'PLAN_VENTA.CREAR_PLAN.TABLA_HEADER_SELLERS.NAME' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              @for (seller of sellers; track seller.id; let i = $index) {
                <tr>
                  <td class="td-checkbox">
                    <!-- Checkbox para seleccionar/deseleccionar cada vendedor -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        [checked]="selectionSellers.isSelected(seller)"
                        (change)="selectionSellers.toggle(seller)"
                        [attr.aria-label]="checkboxLabel(seller)"
                        id="seller-{{ seller.id }}"
                      />
                      <label class="form-check-label" for="seller-{{ seller.id }}"></label>
                    </div>
                  </td>
                  <td>{{ seller.full_name }}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      <div class="w-full flex gap-[0.50rem] justify-end">
        <button type="button" class="btn btn btn-outline-secondary" (click)="dialogRef.close()">
          {{ 'PLAN_VENTA.CREAR_PLAN.BUTTON.CANCEL' | translate }}
        </button>

        <button type="submit" class="btn btn btn-outline-primary" [disabled]="planForm.invalid">
          {{ 'PLAN_VENTA.CREAR_PLAN.BUTTON.SAVE' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
