<div class="modal-container">
  <div class="modal-header">
    <span>{{ 'BODEGAS.CREAR_BODEGA.TITLE' | translate }}</span>
    <button type="button" class="btn-close" aria-label="Close" (click)="dialogRef.close()"></button>
  </div>
  <div>
    <form
      [formGroup]="bodegaForm"
      (ngSubmit)="crearBodega()"
      class="flex flex-col w-full gap-[0.25rem]"
    >
      <div class="w-full min-h-[3.9375rem]">
        <input
          type="text"
          class="form-control"
          id="nombre-bodega"
          name="nombre-bodega"
          placeholder="{{ 'BODEGAS.CREAR_BODEGA.FORM.NAME' | translate }}"
          autocomplete="name"
          formControlName="warehouse_name"
          [ngClass]="{ 'is-invalid': isInvalid('warehouse_name') }"
        />
        <div class="invalid-feedback">
          {{ getErrorMessage('warehouse_name').key | translate }}
        </div>
      </div>

      <div class="w-full min-h-[3.9375rem]">
        <input
          type="text"
          class="form-control"
          id="address"
          name="address"
          placeholder="{{ 'BODEGAS.CREAR_BODEGA.FORM.ADDRESS' | translate }}"
          autocomplete="address"
          formControlName="address"
          [ngClass]="{ 'is-invalid': isInvalid('address') }"
        />
        <div class="invalid-feedback">
          {{ getErrorMessage('address').key | translate }}
        </div>
      </div>
      <div class="flex">
        <div class="w-full min-h-[3.9375rem] pr-3!">
          <input
            type="text"
            class="form-control"
            id="country"
            name="country"
            placeholder="{{ 'BODEGAS.CREAR_BODEGA.FORM.COUNTRY' | translate }}"
            autocomplete="country"
            formControlName="country"
            [ngbTypeahead]="searchCountries"
            [inputFormatter]="formatter"
            [resultFormatter]="formatter"
            [selectOnExact]="true"
            (selectItem)="onCountrySelected($event)"
            (blur)="isValidCountry()"
            [ngClass]="{ 'is-invalid': isInvalid('country') }"
          />
          <div class="invalid-feedback">
            {{ getErrorMessage('country').key | translate }}
          </div>
        </div>

        <div class="w-full min-h-[3.9375rem]">
          <select
            class="form-control"
            id="city"
            name="city"
            formControlName="city"
            [ngClass]="{ 'is-invalid': isInvalid('city') }"
          >
            <option value="" disabled selected>
              {{ 'BODEGAS.CREAR_BODEGA.FORM.CITY' | translate }}
            </option>

            <option *ngFor="let type of cities" [value]="type.id">
              {{ type.name }}
            </option>
          </select>
          <div class="invalid-feedback">
            {{ getErrorMessage('city').key | translate }}
          </div>
        </div>
      </div>

      <div class="w-full min-h-[3.9375rem]">
        <input
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          placeholder="{{ 'BODEGAS.CREAR_BODEGA.FORM.PHONE' | translate }}"
          autocomplete="phone"
          formControlName="contact_phone"
          [ngClass]="{ 'is-invalid': isInvalid('contact_phone') }"
          appNumbersOnly
        />
        <div class="invalid-feedback">
          {{
            getErrorMessage('contact_phone').key
              | translate: getErrorMessage('contact_phone').params
          }}
        </div>
      </div>

      <div class="w-full flex gap-[0.50rem] justify-end">
        <button type="button" class="btn btn btn-outline-secondary" (click)="dialogRef.close()">
          {{ 'BODEGAS.CREAR_BODEGA.BUTTON.CANCEL' | translate }}
        </button>

        <button type="submit" class="btn btn btn-outline-primary" [disabled]="!bodegaForm.valid">
          {{ 'BODEGAS.CREAR_BODEGA.BUTTON.SAVE' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
