<div class="contenedor">
  <div class="flex w-full gap-2">
    <div class="flex input-group w-full">
      <span class="input-group-text pr-2!">
        <mat-icon style="font-size: 16px; width: 16px; height: 16px">manage_search</mat-icon>
      </span>
      <input
        class="form-control border-l-0!"
        placeholder="{{ 'BODEGAS.SEARCH_PLACEHOLDER' | translate }}"
        [formControl]="formBusquedaBodegas"
      />
    </div>
    <div>
      <button
        type="button"
        class="btn btn-primary btn-actions btn-md"
        ngbTooltip="{{ 'BODEGAS.TOOLTIPS.ADD_WAREHOUSE' | translate }}"
        (click)="abrirModalCrearBodega()"
      >
        <i class="bi bi-plus"></i>
      </button>
    </div>
  </div>
  <div class="h-full w-full pr-2 overflow-auto">
    <div class="table-container table-ccp">
      <table class="table">
        <thead>
          <tr>
            <th>{{ 'BODEGAS.TABLE_HEADERS.NAME' | translate }}</th>
            <th>{{ 'BODEGAS.TABLE_HEADERS.ADDRESS' | translate }}</th>
            <th>{{ 'BODEGAS.TABLE_HEADERS.COUNTRY' | translate }}</th>
            <th>{{ 'BODEGAS.TABLE_HEADERS.CITY' | translate }}</th>
            <th>{{ 'BODEGAS.TABLE_HEADERS.PHONE' | translate }}</th>
            <th>{{ 'BODEGAS.TABLE_HEADERS.PRODUCTS' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          @for (bodega of filterBodegas$ | async; track bodega.warehouse_id; let i = $index) {
            <tr>
              <td
                [innerHTML]="bodega.warehouse_name | highlightText: formBusquedaBodegas.value ?? ''"
              ></td>
              <td
                [innerHTML]="bodega.address | highlightText: formBusquedaBodegas.value ?? ''"
              ></td>
              <td
                [innerHTML]="bodega.country | highlightText: formBusquedaBodegas.value ?? ''"
              ></td>
              <td [innerHTML]="bodega.city | highlightText: formBusquedaBodegas.value ?? ''"></td>
              <td [innerHTML]="bodega.phone | highlightText: formBusquedaBodegas.value ?? ''"></td>
              <td>
                <button
                  type="button"
                  class="btn btn-actions-table btn-sm"
                  ngbTooltip="{{ 'BODEGAS.TOOLTIPS.VIEW_PRODUCTS' | translate }}"
                  (click)="toggleExpansion(bodega)"
                >
                  <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
              </td>
            </tr>
            <!-- Fila expandible -->
            @if (bodegaSelected && bodegaSelected.warehouse_id === bodega.warehouse_id) {
              <tr>
                <td colspan="6">
                  <div class="expanded-row">
                    <app-productos-bodega
                      class="expanded-content"
                      [bodega]="bodega"
                    ></app-productos-bodega>
                  </div>
                </td>
              </tr>
            }
          } @empty {
            <tr>
              <td colspan="7">
                <div class="text-center">
                  <p>{{ 'BODEGAS.TABLE_EMPTY.TITLE' | translate }}</p>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
