<div class="contenedor">
  <div class="flex w-full gap-2">
    <div class="flex input-group w-full">
      <span class="input-group-text pr-2!">
        <mat-icon style="font-size: 16px; width: 16px; height: 16px">manage_search</mat-icon>
      </span>
      <input
        class="form-control border-l-0!"
        placeholder="{{ 'VENDEDORES.SEARCH_PLACEHOLDER' | translate }}"
        [formControl]="formBusquedaVendedores"
      />
    </div>
    <div>
      <button
        type="button"
        class="btn btn-primary btn-actions btn-md"
        ngbTooltip="{{ 'VENDEDORES.TOOLTIPS.ADD_SELLER' | translate }}"
        (click)="abrirModalCrearVendedor()"
      >
        <i class="bi bi-plus"></i>
      </button>
    </div>
  </div>
  <div class="h-full w-full pr-2 overflow-auto">
    <div class="table-container table-ccp">
      <div class="table-container table-ccp">
        <table class="table">
          <thead>
            <tr>
              <th>{{ 'VENDEDORES.TABLE_HEADERS.NAME' | translate }}</th>
              <th>{{ 'VENDEDORES.TABLE_HEADERS.EMAIL' | translate }}</th>
              <th>{{ 'VENDEDORES.TABLE_HEADERS.IDENTIFICATION' | translate }}</th>
              <th>{{ 'VENDEDORES.TABLE_HEADERS.PHONE' | translate }}</th>
              <th>{{ 'VENDEDORES.TABLE_HEADERS.USER' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            @for (vendedor of filterVendedores$ | async; track vendedor.id; let i = $index) {
              <tr>
                <td
                  [innerHTML]="
                    vendedor.full_name | highlightText: formBusquedaVendedores.value ?? ''
                  "
                ></td>
                <td
                  [innerHTML]="vendedor.email | highlightText: formBusquedaVendedores.value ?? ''"
                ></td>
                <td
                  [innerHTML]="
                    vendedor.identification | highlightText: formBusquedaVendedores.value ?? ''
                  "
                ></td>
                <td
                  [innerHTML]="vendedor.phone | highlightText: formBusquedaVendedores.value ?? ''"
                ></td>
                <td
                  [innerHTML]="
                    vendedor.username | highlightText: formBusquedaVendedores.value ?? ''
                  "
                ></td>
              </tr>
            } @empty {
              <tr>
                <td colspan="7">
                  <div class="text-center">
                    <p>{{ 'FABRICANTES.TABLE_EMPTY.TITLE' | translate }}</p>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
