// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

@use "scss/custom-bootstrap";

@use "scss/font-conf";

@use "bootstrap-icons/font/bootstrap-icons.css";

@use "tailwindcss" as *;

@use "scss/custom-table-boostrap";

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette
      ),
      typography: Lato,
      density: 0
    )
  );
} /* You can add global styles to this file, and also import other style files */

.white-dialog-container .mat-mdc-dialog-surface {
  background-color: white !important;
}

.white-menu-panel {
  .mat-mdc-menu-content,
  .mat-mdc-menu-panel {
    background-color: white !important;
  }
}

.form-control.is-invalid {
  background-image: none !important;
}

.btn-actions {
  padding: 6px 10px;
}

.btn-actions-table {
  padding: 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }
}


::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background-color: #eeeeee;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bs-primary);
  border-radius: 20px;
}

strong.highlight {
  background-color: #ffff0092;
}
